* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#wrapper {

    // border:  1px solid black;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

}

#loader {
    position: fixed;
    text-align: center;
    right: 50%;
    top: 20%;
    font-size: 50px;
    color: red;
    left: 50%;
}

#car {
    width: 160px;
    height: 170px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(16, 211, 146);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 6px;
}